{% extends "home.html" %}

{% block title %}
Games
{% endblock %}

{% block content %}

<h2>Games list</h2>
<ul class='game-list-wrapper'>
    {% for game in all_games %}
    {# <a href="{%  url 'game_detail' game.id %}/"> <b>{{ game.name }}</b><br> </a> #}
    <div class="game-list">
        <li> <a href="{% url 'game-detail' game.id %}"> {{ game.name }} </a></li>
        <li>Developed by: {{ game.creator }}</li>
        <li>Age rating: {{ game.age_rating }}
        <li>Genre: {{ game.get_genre_display }}
        <br>
        <li>{{ game.get_desc_preview }}
        <br>
        <li>{{ game.price }}€
        <li>{{ game.average_stars }} Stars
        <li>
            {% if game.image %}
            <img src="{{ game.image.url }}" height="auto" width="150">
            {#<a h ref="{{ myuser.some_file.url }}">Some uploaded file</a><br> #} <br>
            {% endif %}
        </li>
    </div>


    {% endfor %}
</ul>

{% if user.type == "CS" or user.type == "SU" or user.is_superuser %}
<a href="{% url 'game-create' %}">Add a new game</a><br>
{% endif %}

<a href={% url 'game-search' %}>Search the games</a><br>

{% endblock %}