@import url("resets.css");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  font-size: 20px;
  background: #1e2124;
  color: whitesmoke;
}

a:link,
a:hover {
  color: #e9786b;
}

a:visited {
  color: #ce8d88;
}

label {
  display: flex;
  color: #e9786b;
}
.form-field {
  margin-bottom: 16px;
  margin: 30px;
}

.nav-bar-wrapper {
  display: flex;
  justify-self: start;
  align-self: start;
  list-style-type: none;
  margin: 0px 40px 0px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-bar {
  display: flex;
  justify-self: stretch;
  list-style-type: none;
  margin: 0px 40px 0px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.nav-bar > * {
  margin: 24px;
}

.top-bar-wrapper {
  display: flex;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.comment {
  display: flex;
  flex-direction: column;
}
.comment > * {
  margin: 8px 0px 8px;
  display: flex;
  flex-direction: column;
}
.comment_vote_wrapper > * {
  flex-direction: column;
  margin: 8px 0px 8px;
}

.all-reports-wrapper {
  display: flex;
  flex-flow: column;
}

.report-wrapper {
  display: flex;
  border-radius: 3px;
  padding: 24px;
  margin: 24px;
  flex-direction: column;
  background-color: rgb(85, 85, 85);
}

.report-wrapper > p {
  margin: 8px;
}
#report-reporter {
  color: rgba(19, 146, 19, 0.753);
}

.game-list-entry {
  display: flex;
  margin-top: 12px;
}
.comment-buttons {
  flex-direction: row;
}

.stars {
  flex-direction: row;
}

button {
  border-radius: 4px;
  padding: 10px 16px;
  background-color: #585858;
  font-weight: 600;
  margin: 8px;
  width: fit-content;
}

.comment-text {
  word-break: break-all;
  word-wrap: break-word;
  width: 400px;
  border-radius: 5px;
  background-color: #1a1a1a;
  padding: 18px;
  font-size: medium;
}
#createGame-Button {
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#createGame-Button:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}
.game-list-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
}
.game-list {
  flex-direction: column;
  margin: 16px;
  padding: 16px;
  background-color: #1a1a1a;
  border-radius: 3px;
}
.game-list > * {
  margin: 2px;
}
