body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  font-size: 20px;
  background: #1e2124;
  color: whitesmoke;
}

a:link,
a:hover {
  color: #e9786b;
}

a:visited {
  color: #ce8d88;
}

label {
  display: flex;
  color: #e9786b;
}
.form-field {
  margin-bottom: 16px;
}

.nav-bar-wrapper {
  display: flex;
  justify-self: start;
  align-self: start;
  list-style-type: none;
  margin: 0px 40px 0px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-bar {
  display: flex;
  justify-self: stretch;
  list-style-type: none;
  margin: 0px 40px 0px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.nav-bar > * {
  margin: 24px;
}

.top-bar-wrapper {
  display: flex;
}

.comment {
  display: flex;
  flex-direction: column;
}
.comment > * {
  margin: 8px 0px 8px;
}
.comment_vote_wrapper > * {
  margin: 8px 0px 8px;
}
