<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    {% endblock %}

    <title>{% block title %}Base Titel{% endblock %}</title>

    <div class="nav-bar-wrapper">
        <ul class="nav-bar">
            <li><a href={% url 'home' %}>Home</a></li>
            <li><a href={% url 'game-list' %}>Your Games</a></li>
            {% if user.is_authenticated %}
            <li><a href={% url 'game-create' %}>Game Create (Admin)</a></li>
            {% comment %} TODO: Make Admin only {% endcomment %}
            {% endif %}
            {% if user.is_authenticated and user.type == "CS" or user.type == "SU" %}
                <li><a href={% url 'all_reports' %}>Reports</a></li>
            {% endif %}
            <li>
                <a href="{% url 'game-cart'  %}"> <img src="{% static 'shopping-cart.png' %}" id="cart-icon" height="25" width="25> </a></li>
            <li> <p id="cart-total"> 0 </p> </li>
            <!-- TOTAL ITEMS IN CART -->
            

        </ul>
    </div>
</head>

<body>
    {% block content %}Base Block{% endblock %}
</body>

</html>