<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/styles.css' %}">
    {% endblock %}

    <title>{% block title %}Base Titel{% endblock %}</title>

    <div class="nav-bar-wrapper">
        <ul class="nav-bar">
            <li><a href={% url 'home' %}>Home</a></li>
            <li><a href={% url 'game-list' %}>Games</a></li>
            {% if user.type == "SU" or user.type == "CS" %}
                <li><a href={% url 'game-create' %}>Add Game (Admin)</a></li>
                <li><a href={% url 'all_reports' %}>Reports</a></li>
            {% endif %}
            <li>
                <a href={% url 'shopping-cart-show' %}>
                    Shopping Cart
                    {% if user.is_authenticated %}
                    {{ request.user.count_shopping_cart_items }}
                    {% else %}
                    0
                    {% endif %}

                </a>
            </li>

            <!-- TOTAL ITEMS IN CART -->


        </ul>
    </div>
</head>

<body>
    {% block content %}Base Block{% endblock %}
</body>

</html>